[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/eventpp"]
	path = third_party/eventpp
	url = https://github.com/wqking/eventpp.git
[submodule "third_party/cotire"]
	path = third_party/cotire
	url = https://github.com/sakra/cotire.git
[submodule "third_party/entityx"]
	path = third_party/entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "third_party/bullet3"]
	path = third_party/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "third_party/SimplexNoise"]
	path = third_party/SimplexNoise
	url = https://github.com/SRombauts/SimplexNoise.git
